.root {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
  background: var(--token-8oAMPG99Yrha22);
  min-width: 0;
  padding: 8px 8px 60px;
}
.freeBox__klK2W {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__klK2W > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__klK2W > :global(.__wab_flex-container) > *,
.freeBox__klK2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__klK2W > :global(.__wab_flex-container) > picture > img,
.freeBox__klK2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBox__ng6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link___3Gf8E {
  height: auto;
  max-width: 800px;
  color: var(--token-kK9QuxH4d9knIg);
  font-weight: 700;
}
.freeBox__tdhIp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__tdhIp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__tdhIp > :global(.__wab_flex-container) > *,
.freeBox__tdhIp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tdhIp > :global(.__wab_flex-container) > picture > img,
.freeBox__tdhIp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox___90YyB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__yAnNb {
  height: auto;
  max-width: 800px;
  color: var(--token-kK9QuxH4d9knIg);
}
.login:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 16px;
  width: 56px;
  flex-shrink: 0;
}
.svg__hmwuR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  font-size: 12px;
}
.svg__r5Uv3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
