.root {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
  background: var(--token-8oAMPG99Yrha22);
  min-width: 0;
  padding: 100px 8px 8px;
}
.freeBox___47Ilo {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___47Ilo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox___47Ilo > :global(.__wab_flex-container) > *,
.freeBox___47Ilo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___47Ilo > :global(.__wab_flex-container) > picture > img,
.freeBox___47Ilo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBox__yt6GP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jS3H {
  height: auto;
  max-width: 800px;
  color: var(--token-kK9QuxH4d9knIg);
  display: none;
}
.freeBox__nkBsz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__piCn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___06SbT {
  height: auto;
  max-width: 800px;
  color: var(--token-kK9QuxH4d9knIg);
  display: none;
}
